<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plane Crash Fatality Predictor</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<br>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Plain Plane Crash Flask Crashtest</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">About</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Air Carriers</a></li>
						<li><a href="#">Private pilots</a></li>
						<li><a href="#">Air Traffic Control</a></li>
					</ul>
				</li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<br>

<div class="jumbotron">
	<div class="container">
		<h1>Want to fly? Don't die!</h1>
		<p>Plane crashes happen. Let us make sure you come out alive. Choose flight parameters below.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
            <fieldset>
                <legend>
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Flight purpose</legend>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Business' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Business'>Business</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Personal' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Personal'>Personal</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Aerial_Application' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Aerial_Application'>Aerial Application</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Ferry' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Ferry'>Ferry</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Instructional' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Instructional'>Instructional</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Positioning' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Positioning'>Positioning</label>
                </div>

                <div class='Flight_Purpose'>
                    <input type='radio' id='Flight_Purpose_Other' name='flight_purpose'
                           value='0.0' />
                    <label for='Flight_Purpose_Other'>Other</label>
                </div>

            </fieldset>
		</div>
		<div class="col-md-3">
            <fieldset>
                <legend>
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    Weather conditions</legend>

                <div class='Weather_Condition'>
                    <input type='radio' id='Weather_Condition_VMC' name='weather'
                           value="0.0" />
                    <label for='Weather_Condition_VMC'>Visible flight conditions</label>
                </div>

                <div class='Weather_Condition'>
                    <input type='radio' id='Weather_Condition_IMC' name='weather'
                           value='0.0' />
                    <label for='Weather_Condition_IMC'>Instrumentation required</label>
                </div>

            </fieldset>
		</div>
		<div class="col-md-3">
            <fieldset>
                <legend>
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    Crash flight phase
                </legend>

                <div class='Broad_Phase_of_Flight'>
                    <input type='radio' id='Broad_Phase_of_Flight_TAKEOFF' name='flight_phase'
                           value='0.0' />
                    <label for='Broad_Phase_of_Flight_TAKEOFF'>Takeoff</label>
                </div>

                <div class='Broad_Phase_of_Flight'>
                    <input type='radio' id='Broad_Phase_of_Flight_INFLIGHT' name='flight_phase'
                           value='0.0' />
                    <label for='Broad_Phase_of_Flight_INFLIGHT'>In-flight</label>
                </div>

                <div class='Broad_Phase_of_Flight'>
                    <input type='radio' id='Broad_Phase_of_Flight_LANDING' name='flight_phase'
                           value='0.0' />
                    <label for='Broad_Phase_of_Flight_LANDING'>Landing</label>
                </div>

                <div class='Broad_Phase_of_Flight'>
                    <input type='radio' id='Broad_Phase_of_Flight_TAXI' name='flight_phase'
                           value='0.0' />
                    <label for='Broad_Phase_of_Flight_TAXI'>Taxi</label>
                </div>

            </fieldset>
		</div>

        <div class="col-md-3">
            <fieldset>
                <legend>
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    Flight type</legend>

                <div class='Commercial_Flight'>
                    <input type='radio' id='Commercial_Flight_Yes' name='flight_type'
                           value='0.0' />
                    <label for='Commercial_Flight'>Commercial</label>
                </div>

                <div class='Commercial_Flight'>
                    <input type='radio' id='Commercial_Flight_No' name='flight_type'
                           value='0.0' />
                    <label for='Commercial_Flight_No'>Private</label>
                </div>

            </fieldset>
		</div>
	</div>
</div>

<br>

<div class="jumbotron">
	<div class="container">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Crash status: <span id="hard_predict"></span></h3>
          </div>
          <div class="panel-body">
            <p>Your probability of survival is: <span id="soft_predict"></span>%</p>
          </div>
      </div>
    <p><a class="btn btn-primary btn-lg" href="#" id="submit" role="button">Make prediction</a></p>

    <img width="90%" src='' id='gif' align: 'middle'/>
</div>




</body>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script>


  $('#submit').click( () => { cool();
                              render_crashimage(); } );

  function render_crashimage(prediction){

      let img = document.getElementById('gif');
      console.log('the prediction is' + prediction);
      switch (prediction === 1) {

        case true:
         console.log('this is true ' + prediction)
         var gifs = Array('alive','jim_alive','rapper_alive','snl_alive')
         var item = gifs[Math.floor(Math.random()*gifs.length)];
         img.src='/static/images/' + item + '.gif';
         break;

        case false:
         console.log('this is false ' + prediction)
         var fgifs = Array('fatal','office_fatal','r2_fatal','dog_fatal')
         var fitem = fgifs[Math.floor(Math.random()*fgifs.length)];
         img.src='/static/images/' + fitem + '.gif';
         break;
      }


    };

  function cool(){
    let features = {
  'Flight_Purpose_Aerial Application': document.getElementById('Flight_Purpose_Aerial_Application').checked,
  'Flight_Purpose_Business': document.getElementById('Flight_Purpose_Business').checked,
  'Flight_Purpose_Ferry': document.getElementById('Flight_Purpose_Ferry').checked,
  'Flight_Purpose_Instructional': document.getElementById('Flight_Purpose_Instructional').checked,
  'Flight_Purpose_Other': document.getElementById('Flight_Purpose_Other').checked,
  'Flight_Purpose_Personal': document.getElementById('Flight_Purpose_Personal').checked,
  'Flight_Purpose_Positioning': document.getElementById('Flight_Purpose_Positioning').checked,
  'Weather_Condition_IMC': document.getElementById('Weather_Condition_IMC').checked,
  'Weather_Condition_VMC': document.getElementById('Weather_Condition_VMC').checked,
  'Broad_Phase_of_Flight_INFLIGHT': document.getElementById('Broad_Phase_of_Flight_INFLIGHT').checked,
  'Broad_Phase_of_Flight_LANDING': document.getElementById('Broad_Phase_of_Flight_LANDING').checked,
  'Broad_Phase_of_Flight_TAKEOFF': document.getElementById('Broad_Phase_of_Flight_TAKEOFF').checked,
  'Broad_Phase_of_Flight_TAXI': document.getElementById('Broad_Phase_of_Flight_TAXI').checked,
  'Commercial_Flight_No': document.getElementById('Commercial_Flight_No').checked,
  'Commercial_Flight_Yes': document.getElementById('Commercial_Flight_Yes').checked
}
    console.log(features);

    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/predict",  // Replace with URL of POST handler
      dataType: "json",
      async: true,
      data: JSON.stringify(features),
      success: (result) => {
        $('#hard_predict').html(result['prediction'] ? 'no one will die, but there will be baggage' : 'terminal... stay in the terminal!' );
        $('#soft_predict').html(result['prob_fatal']);
        $('#actual_predict').html(result['true_prob']);


        render_crashimage(result['prediction']);
      },
      error: (result) => {
        alert('I dunno what you did');
      }
    })

  }

  </script>

</html>
